{% extends "base.html" %}

{% block content-area %}

    <h3>Block Details</h3>
    <h4>{{name}}</h4>
    <br>

    {% if courses %}
        <h3>Courses</h3>
        <ul>
        {% for course in courses %}
            <li>{{course.name}}</li>    
        {% endfor %}
        </ul>
    {% endif %}

    {% if books %}
        <h3>Books</h3>
        <ul>
        {% for book in books %}
            <li>{{book.name}}</li>    
        {% endfor %}
        </ul>
    {% endif %}

    {% if websites %}
        <h3>Websites</h3>
        <ul>
        {% for website in websites %}
            <li>{{website.name}}</li>    
        {% endfor %}
        </ul>
    {% endif %}

{% endblock %}