{% extends "user.html" %}

{% block content-area %}

    <h1>{{name}} Details</h1>

    <div class="subject-reference">
        <h3>Pre-requisites</h3>
        {% if isOwner %}
        <a href="{% url 'displayUserArticlesSearch' userpage=userpage articleId=articleId %}">+ Add New Pre-requisite</a>
        <br><br>
        {% endif %}

        
        {% if not prereqs %}
            No articles to display.
        {% else %}
            <ul>
                {% for prereq in prereqs %}
                <li><a href="{% url 'displayUserArticlesDetails' userpage=userpage articleId=prereq.id %}">{{ prereq }}</a></li>
                    {% if isOwner and False %}
                        <form method="post" action="{% url 'deleteUserArticlePreRequisite' userpage=userpage articleId=articleId %}">
                            {% csrf_token %}
                            <input type="hidden" name="prereqId" value="{{prereq.id}}">
                            <input type="submit" value="Delete">
                        </form>
                    {% endif %}       
                {% endfor %}
            </ul>
        {% endif %}

    </div>



    {% if isOwner and False %}
        <br>
        <br>
        <form action="{% url 'delete_user_topic' userpage=userpage %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="articleId" value="{{articleId}}">
            <input type="submit" value="Delete Subject">
        </form>
    {% endif %}

{% endblock %}