{% load staticfiles %}

<!DOCTYPE html>

<html>

    <head>
        <title>Navigatte</title>
        <style>

            section {
                font-size: 20px;
            }

        </style>
    </head>

    <body>

        <header>
            <h1>Navigatte</h1>
        </header>
        
        {% if user.is_authenticated %}
            <p>Welcome, {{ user.username }}. Thanks for logging in. <a href="{% url 'logout_index' %}">Logout</a></p>
        {% else %}
            <p>Welcome, new user. Please <a href="{% url 'login_index' %}">login</a>. </p>
            <p>If you do not have an account, please <a href="{% url 'register_index' %}">register</a>.</p>
        {% endif %}
        <br>

        <section>

            {% block content-area %}
            {% endblock %}

        </section>

    </body>


</html>